# Entorno
.env

# .NET build
bin/
obj/

# Logs y artefactos
logs/
media/
reports/
static/
database/

# IDE / tooling
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS
.DS_Store
Thumbs.db
